<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles.css" />
    <title>Input Page</title>
  </head>
  <body>
    <div id="app" data-v-app>
      <h1>Send a message to us</h1>
      <div>
        <form action="" method="Post">
          <div>
            <label for="name">Your name: </label>
            <input v-model.trim="message" type="text" name="name" id="name" />
            ({{ message.length}} characters)
          </div>
          <div>
            <label for="description">Message: </label>
            <textarea
              v-model.lazy="messageDescription"
              name="description"
              id="description"
            ></textarea>
            ({{ charactersLeft }} characters left)
          </div>
        </form>
        <button @click.prevent="submit" type="submit">Send</button>
      </div>
      <h1>Settings</h1>
      <div class="options">
        <form action="" method="Post">
          <div>
            <input
              v-model="options"
              true-value="on"
              false-value="off"
              type="checkbox"
              id="reverse"
              value="reverse"
            />
            <label for="reverse">Show reversed card</label>
          </div>
          <div>
            <input
              v-model="options"
              true-value="on"
              false-value="off"
              type="checkbox"
              id="time"
              value="time"
            />
            <label for="time">Use time limit</label>
          </div>
          <button @click.prevent="submit" type="submit">Submit</button>
        </form> 
      </div>
      <div style="display: none">selected options: {{ options}}</div>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
      const cardApp = {
        data() {
          return {
            message: "",
            messageDescription: "",
            options: [],
          };
        },
        computed: {
          charactersLeft() {
            return 200 - this.messageDescription.length;
          },
        },
        methods: {
          submit() {
            alert("submitting");
          },
        },
      };
      const app = Vue.createApp(cardApp).mount("#app");
    </script>
  </body>
</html>
